.apresentacao {
    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: center;

    gap: 28px;

    background: url('/bg-apresentacao.jpeg') top left no-repeat;
    background-size: cover;

    min-height: 107vh;
    width: 100%;

    padding: 20px;

    section{
        text-align: center;

        h1{
            font-size: 1.4em;
            font-weight: bolder;
            text-shadow: 2px 2px 2px var(--text-shadow);
            margin-bottom: 15px;
            color: #F2BC1B;
        }
    
        h3 {
            color: var(--p-color);
            font-size: 1em;
            font-weight: lighter;
            text-shadow: 2px 2px 2px var(--text-shadow);
        }
    }
    
}